.locate-btn {
  right: calc(var(--spacing) * 5);
  bottom: calc(var(--spacing) * 10);
  z-index: 10;
  border-style: solid;
  -webkit-backdrop-filter: blur(var(--blur-md));
  backdrop-filter: blur(var(--blur-md));
  transition-property: transform, translate, scale, rotate;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);
  border-width: 1px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  width: 3.25rem;
  height: 3.25rem;
  background: rgb(255 255 255 / 0.6);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  border-color: rgb(255 255 255 / 0.4);
}

.locate-btn:active {
  transform: scale(0.95);
}

.locate-btn__icon {
  height: calc(var(--spacing) * 5);
  width: calc(var(--spacing) * 5);
  color: rgb(0 0 0 / 0.8);
}