.search-area-btn__wrapper {
  pointer-events: none;
  right: calc(var(--spacing) * 0);
  left: calc(var(--spacing) * 0);
  z-index: 10;
  transition-property: all;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);
  justify-content: center;
  transition-duration: .5s;
  display: flex;
  position: absolute;
  top: clamp(11.5rem, 28vw, 15.5rem);
}

.search-area-btn {
  pointer-events: auto;
  align-items: center;
  gap: calc(var(--spacing) * 2);
  border-style: solid;
  padding-inline: calc(var(--spacing) * 3.5);
  padding-block: calc(var(--spacing) * 1.5);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--tracking-wide);
  -webkit-backdrop-filter: blur(var(--blur-md));
  backdrop-filter: blur(var(--blur-md));
  transition-property: all;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);
  border-width: 1px;
  border-radius: 9999px;
  display: flex;
  background: rgb(255 255 255 / 0.6);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  border-color: rgb(255 255 255 / 0.4);
  color: rgb(0 0 0 / 0.8);
  font-size: 0.75rem;
}

.search-area-btn:active {
  transform: scale(0.95);
}

.search-area-btn:disabled {
  opacity: .4;
}

.search-area-btn__icon {
  height: calc(var(--spacing) * 3.5);
  width: calc(var(--spacing) * 3.5);
}