@import "tailwindcss";
@import "./styles/conditions.css";

@theme {
  --breakpoint-sm: initial;
  --breakpoint-md: initial;
  --breakpoint-lg: initial;
  --breakpoint-xl: initial;
  --breakpoint-2xl: initial;
}

:root {
  --spacing: 0.25rem;

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-spin: spin 1s linear infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  --default-transition-duration: 0.15s;
  --default-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  --blur-md: 12px;
  --blur-2xl: 40px;

  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
  --radius-3xl: 1.5rem;

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.33;
  --text-sm: 0.88rem;
  --text-sm--line-height: 1.43;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-lg: 1.13rem;
  --text-lg--line-height: 1.56;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.4;

  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --tracking-tighter: -0.05em;
  --tracking-tight: -0.03em;
  --tracking-wide: 0.03em;

  --leading-tight: 1.25;
  --leading-snug: 1.38;

  --color-red-100: rgb(254, 226, 226);
  --color-red-500: rgb(252, 40, 53);
  --color-red-600: rgb(233, 0, 2);
  --color-red-700: rgb(192, 0, 11);

  --color-orange-500: rgb(255, 106, 0);
  --color-orange-600: rgb(244, 75, 0);

  --color-amber-100: rgb(254, 243, 197);
  --color-amber-400: rgb(255, 185, 0);
  --color-amber-500: rgb(254, 153, 0);
  --color-amber-600: rgb(226, 113, 0);
  --color-amber-700: rgb(185, 78, 0);

  --color-lime-600: rgb(94, 165, 0);

  --color-green-50: rgb(239, 253, 243);
  --color-green-100: rgb(222, 251, 232);
  --color-green-500: rgb(0, 201, 80);
  --color-green-600: rgb(0, 166, 64);
  --color-green-700: rgb(0, 130, 55);

  --color-sky-200: rgb(183, 230, 255);
  --color-sky-600: rgb(0, 132, 210);

  --color-blue-500: rgb(46, 128, 255);
  --color-blue-600: rgb(18, 92, 254);

  --color-purple-600: rgb(152, 11, 251);

  --color-gray-50: rgb(250, 250, 250);
  --color-gray-100: rgb(244, 244, 244);
  --color-gray-200: rgb(228, 231, 238);
  --color-gray-400: rgb(154, 161, 173);
  --color-gray-500: rgb(105, 114, 132);
  --color-gray-600: rgb(74, 85, 101);
  --color-gray-800: rgb(31, 41, 55);
  --color-gray-900: rgb(17, 24, 38);

  --color-black: #000;
  --color-white: #fff;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100dvh;
  overflow: hidden;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
